@model Cipher
@{
    ViewData["Title"] = "Шифр Виженера";
}

<div class="text-left">
    <h1 class="display-4">Шифр Виженера</h1>
    <hr />
</div>

<div clas="row flex-row flex-nowrap">
    <div class="col-8">
        <form asp-controller="Home" asp-action="Crypt" method="post">
            <div class="mb-3">
                <label for="Text">Исходный текст</label>
                <textarea class="form-control" type="text" rows="3" id="Text" asp-for=Text class="form-control"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label" asp-for=Key>Ключ</label>
                <input type="text" asp-for=Key  class="form-control" />
            </div>

            <div class="mb-3">
                <label for="Result">Преобразованный текст</label>
                <textarea class="form-control" type="text" rows="3" id="Result" asp-for=Result  class="form-control" readonly></textarea>
            </div>

            <div class="form-check form-check-inline">
                <label class="form-label" asp-for=IsEncrypt>Расшифровать</label>                        
                <input type="radio" id="IsEncrypt" name="IsEncrypt" value="false" checked />
            </div>

            <div class="form-check form-check-inline">
                <label class="form-label" asp-for=IsEncrypt>Зашифровать</label>                        
                <input type="radio" id="IsEncrypt" name="IsEncrypt" value="true" />
            </div>

            <div class="pt-3 pb-3">
                <button class="btn btn-primary" type="submit">Преобразовать</button>
            </div>
        </form>  
    </div>
</div>
